<div class="row">
    <div class="col-12">
        <a href="{% url 'questions:add' %}" class="btn btn-primary">Ask Question</a>
        <hr class="mb-3"/>
        <h2>Trending Questions</h2>

        <ul class="list-unstyled">
            {% for question in trending %}
            <li class="mb-2">
                <span class="badge badge-info">{{ question.rank }}</span>
                <a href="{% url 'questions:detail' question.pk %}">{{ question.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>