{% load model_name %}
{% load votes %}
{% model_name obj as obj_model_name %}
{% is_user_voted_for model_name=obj_model_name model_pk=obj.pk vote=1 as voted_up %}
{% is_user_voted_for model_name=obj_model_name model_pk=obj.pk vote=-1 as voted_down %}
<ul class="list-unstyled mb-0">
    <li>
        {% if voted_up %}
        <a href="{% url 'questions:vote' obj_model_name obj.pk 'up' %}" class="text-decoration-none text-success"
           title="Discard my vote">
            {% else %}
            <a href="{% url 'questions:vote' obj_model_name obj.pk 'up' %}" class="text-decoration-none text-secondary"
               title="Up vote">
                {% endif %}
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-compact-up"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
                </svg>
            </a>
    </li>

    <li>
        <h4>{{ obj.rank|default:0 }}</h4>
    </li>

    <li>
        {% if voted_down %}
        <a href="{% url 'questions:vote' obj_model_name obj.pk 'down' %}" class="text-decoration-none text-success"
           title="Discard my vote">
            {% else %}
            <a href="{% url 'questions:vote' obj_model_name obj.pk 'down' %}"
               class="text-decoration-none text-secondary" title="Down vote">
                {% endif %}
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-compact-down"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                </svg>
            </a>
    </li>
</ul>